.container {
    padding: 3rem 0;
}

.t-bg {
    background-color: rgba(0, 0, 0, 0.915);
    color: white;
}

.container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.carousel img {
    height: 90vh;
    object-fit: cover;
}

.thumbs-wrapper,
.carousel-status {
    display: none;
}

@media screen and (max-width: 940px) {
    .carousel img {
        height: 60vh;

    }
}