@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


:root{
  --primary: #f9ef23;
  --secondary: #000;
}

body{
  font-family: 'Graduate', cursive;
}

ul{
  list-style-type: none;
}

li{
  text-decoration: none;
  font-family: 'Graduate', cursive;
}

h1{
  font-size: 3.5rem;
  font-family: 'Graduate', cursive;
}

p{
  font-family: 'Graduate', cursive;
}

h2{
  font-size: 2rem;
  font-family: 'Graduate', cursive;;
}

.container{
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}

@media screen and (max-width: 940px){
    h1{
      font-size: 2.5rem;
    }
    h2{
      font-size: 1.5rem;
    }
}